.NavbarItems {
    background-color:#008080;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}

#navbar-logo {
    color: white;
    justify-self: start;
    margin-left: 20px;
    font-weight: 600;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-top: 10px;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 600;
}

.nav-links:hover {
    background-color:#05B4B4;
    color: white;
    border-radius: 4px;
    transition: all 0.2s ease-out;
    text-decoration: none;

}