.img-feri {
    width: 130px;
    height: 140px;
    border-radius: 20px;
    padding: 1rem 1rem;
}

.about-me-title {
    justify-content: center;
    padding: 2rem 1rem;
}

.skills-title {
    justify-content: center;
    padding: 4rem 1rem;
}

.row-box-about {
    justify-content: center;
}

.box-about {
    background-color:  rgb(174, 214, 214);
    width: 600px;
    height: fit-content;
    box-shadow: 10px 10px;
}

.my-profile {
    padding: 1rem 1rem;
}

.sosmed {
    width: 150px;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

.div-button {
    padding: 1rem 1rem;
}

#button-resume {
    font-size: 12px;
    width: 100px;
    background-color: teal;
    border-color: teal;
}

#button-resume:hover {
    background-color:#05B4B4;
}

.java-img {
    width: 140px;
    height: 120px;
    margin-top: -20px;
    padding: 1rem 1rem;
}

.python-img {
    width: 80px;
    height: 80px;
    padding: 1rem 1rem;
}

.html-img {
    width: 100px;
    height: 80px;
    padding: 1rem 1rem;
}

.row-skills-1 {
    justify-content: center;
    padding: 1rem 1rem;
}


.django-img {
    width: 80px;
    height: 80px;
    padding: 1rem 1rem;
}

.css-img {
    width: 80px;
    height: 80px;
    margin-left: 30px;
    padding: 1rem 1rem;
}



.flutter-img {
    width: 140px;
    height: 100px;
    padding: 1rem 1rem;
}

.js-img {
    width: 180px;
    height: 120px;
    margin-left: -50px;
    padding: 1rem 1rem;
}

.react-img {
    width: 140px;
    height: 100px;
    padding: 1rem 1rem;
}

.row-education {
    padding: 4rem 1rem;
}