#my-project {
    text-align: start;
    height: 80px;
    font-weight: 500;
    color: teal;
}

.box-project-1 {
    background-color: rgb(174, 214, 214);
    height: 250px;
    box-shadow: 10px 10px;
}

.project-1 {
    padding: 1rem 2rem;
}

.title-project-1 {
    font-weight: 500;
    color: teal;
}

.img-pinkandblue {
    width: 300px;
    height: 300px;
}

.img-box-1 {
    display: flex;
    justify-content: center;
}

.box-project-2 {
    background-color: rgb(174, 214, 214);
    height: 250px;
    box-shadow: 10px 10px;
}

.img-landai {
    width: 400px;
    height: 300px;
}

.img-sinarperak {
    width: 300px;
    height: 300px;
}

.img-line {
    width: 150x;
    height: 150px;
    border-radius: 20px;
}